.topFixedBanner{
    background-color: blue;
    background-image: url("../image/banner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0,0,0,0.6);
}
.topContain{
    margin-top:10rem;
}
.topTitle{
    font-family:'Montserrat', sans-serif;
    color:#fff;
    font-weight: 600;
    font-size:48px;
}
.topSubTitle{
    font-family:'Raleway', sans-serif;
    color:#fff;
    font-weight: 600;
    font-size:24px
}
.check{
    border:1px solid red;
}
.iconSize{
    width:60px;
    height: 70px;
    margin:auto
}
.navTitle{
    color: blue !important;
    font-weight: bold;
}
.navScrol{
    color:red;
    
}
.navBrackground{
    background-color:rgba(0,0,0,0.1);
    transition: background-color 400ms linear;
}
.navBackScroll{
    background: #ffffff;
    transition: background-color 400ms linear;
    
}
.navTitle{
    text-decoration: none!important;
    color:#ffffff !important;
}
.navTitleScroll{
    text-decoration:none !important;
    color: #000 !important;;
}
.chartTitle{
    color:aqua;
}

.summaryBanner{
    background-color: blue;
    background-image: url("../image/banner.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.summaryOverlay{
    position: absolute;
    min-height: 300px;
    width: 100%;
    background: rgba(0,0,0,0.6);  
}
.countNum{
    margin-top:7rem;
}
.sumarryCard{
    margin-top:4rem;
}
.summaryLastCard{
    text-align: left;
    
}
/*
.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.topContent{
    margin-top: 10rem;
}
.topTitle{
      font-family: 'Montserreat',sans-serif;
      font-weight: 700;
      color: #ffffff;
      font-size: 48px;
  }

.topSubTitle{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
}
*/